*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --text-color: #111111;
    --main-color: #c68f76;
    --big-font: 4em;
    --h2-font: 3em;
    --h3-font: 2em;
    --normal: 1em;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
    letter-spacing: 5px;
}
.nav-container {
    display: flex;
}
.nav-container a{
    padding: 10px 25px;
    color: var(--text-color);
    font-weight: 600;
    transition: all 0.4s ease ;
}
.nav-container a:hover{
    color: var(--main-color);
}
.header__icon i {
    font-size: 23px;
    color: var(--text-color);
    margin-right: 20px;
    transition: all 0.4s ease;
}
.header__icon i:hover{
    color: var(--main-color);
}

/* Home Section*/
section {
    padding: 100px 14%;
}
.home{
    min-height: 100vh;
    width: 100%;
    background: url(images/background1.jpg);
    background-size: cover;
    background-position: center top;
    display: grid;
    grid-template-columns: repeat;
    align-items: center;
}
.home-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 6px;
    margin-bottom: 1.4rem;
}
.home-text span{
    color: var(--bg-color);
}
.home-text p{
    font-size: var(--normal);
    font-weight: 500;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}
.view{
    display: inline-block;
    padding: 13px 25px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.view:hover{
   background-color: var(--text-color);
}
.center-text {
    text-align: center;
}
.center-text h2{
    font-size: var(--h3-font);
}
.feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}
.row {
    position: relative;
    transition: all 0.35s ease;
}
.row img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.fea-text {
    position: absolute;
    top: 40px;
    left: 20px;
}
.fea-text {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.fea-text p{
    color:rgb(54, 55, 55); 
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

.row .arrow {
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.row .arrow i{
    height: 35px;
    width: 35px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease;
}
.row:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}
.row:hover i{
    background: var(--main-color);
    color: var(--bg-color);
}
.sale{
    height: 60vh;
    width: 100%;
    background: url(images/background3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.sale-text h6{
    font-size: 20px;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: .5px;
}
.sale-text h4{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .5rem;
    margin-bottom: 30px;
}
.new-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}
.box{
    position: relative;
    transition: all .4s ease;
}
.box img{
    width: 100%;
    height: auto;
}
.box h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box h6{
    font-size: 16px;
    font-weight: 700;
}
.box div{
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: var(--main-color);
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
}
.box:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

.contact{
    background: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.main-contact h3{
    font-size: 18px;
    margin-bottom: 1.5rem;
    color: var(--bg-color);
}
.main-contact h5{
    font-size: 15px;
    font-weight: 600;
    color: var(--bg-color);
}
.icon{
    display: flex;
    margin-top: 2rem;
}
.icon i{
    font-size: 25px;
    margin-right: 1rem;
    color: #555;
    transition: all 0.4s ease;
}
.icon i:hover{
    color: var(--bg-color);
    transform: scale(1.1) translateY(-5px);
}
.main-contact li{
    margin-bottom: 15px;
}
.main-contact li a{
    display: block;
    color: #555;
    font-size: var(--normal-font);
    font-weight: 600;
    transition: all .4s ease;
}
.main-contact li a:hover{
    transform: translateX(-5px);
    color: var(--bg-color);
}
.last-text{
    text-align: center;
    padding: 20px;
    background: var(--text-color);
}
.last-text p{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.top i{
    font-size: 22px;
    color: var(--bg-color);
    padding: 14px;
    background-color: var(--main-color);
    border-radius: 50%;
}